<h1 class="small-logo">
    <a href="{{ constant("ROOT_URL") }}" title="Packanalyst">
        <img src="{{ constant("ROOT_URL") }}src/views/css/images/logo.png" alt="Logo Packanalyst"/>
        <span class="logo">Pack<span class="blue">analyst</span></span>
        <small>Explore PHP classes from Packagist</small>
    </a>
</h1>