<h1><small>Analyzing package</small> {{ packageName }}{% if (packageVersion) %} ({{ packageVersion }}){% endif %}</h1>

<div class="alert alert-danger">Sorry, couldn't find package <code>{{ packageName }}{% if (packageVersion) %} ({{ packageVersion }}){% endif %}</code>.</div>