<script type="text/javascript">
$(function() {

	var classesAutocomplete = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		remote: window.rootUrl+'suggest?q=%QUERY',
		limit: 10
	});

	classesAutocomplete.initialize();
	
	$('#searchInput').typeahead({
		minLength: 3,
		highlight: true
	},
	{
		name: 'classesDataset',
		displayKey: 'value',
		source: classesAutocomplete.ttAdapter()
	});

	$('#searchInput').on('typeahead:selected', function() {
		$('#smallSearchForm').submit();
	});

});
</script>

<form class="navbar-left search-header col-lg-6 col-md-4 col-sm-3 col-xs-9" role="search" id="smallSearchForm" action="{{ constant('ROOT_URL') }}search">
    <div class="row">
        <div class="col-md-8">
            <input name="q" type="text" class="form-control inputlg search-field " id="searchInput" placeholder="Search any PHP class / interface / trait / function or package" value="{{ search }}">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default button-search"><i class="glyphicon glyphicon-search"></i> Search</button>
        </div>
    </div>
</form>
